@charset 'utf-8';

//font
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;300;400;600&display=swap');

// reset scss
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'IBM Plex Sans KR';
	color: #605852;
}
body {
	background: #d5e6f1;
	margin: 0 auto;
	padding: 100px;
}
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

// main scss
.resume {
	width: 100%;
	height: 100%;
	padding: 50px;
	overflow-x: hidden;
	background-color: #fff8f0;
	border-radius: 20px;
	> .inner {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		.profile {
			display: flex;
			align-items: flex-end;
			width: 100%;
			height: 600px;
			.profileImg {
				width: 450px;
				height: 100%;
				margin-right: 50px;
				img {
					width: 100%;
					height: 100%;
					border-radius: 0 40px;
					object-fit: cover;
				}
			}
			.profileDesc {
				width: calc(100% - 500px);
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				.profileTop {
					width: 100%;
					margin-bottom: 100px;
					.name {
						font-size: 50px;
						line-height: 1;
						font-weight: 400;
						letter-spacing: 1.5px;
						text-transform: uppercase;
						margin-bottom: 10px;
						span {
							font-weight: 600;
							text-transform: normal;
						}
					}
					.job {
						font-size: 24px;
						font-weight: 300;
						line-height: 1;
					}
				}

				.profileText {
					font-size: 0;
					.profileTit {
						font-size: 20px;
						letter-spacing: 2px;
						margin-bottom: 10px;
						line-height: 1;
					}
					> span {
						position: relative;
						display: inline-block;
						&::after {
							position: absolute;
							top: 0;
							left: 0;
							width: 50px;
							height: 2px;
							content: '';
							background-color: #777;
						}
					}
					.profileTxt {
						margin-top: 10px;
						font-size: 14px;
						font-weight: 300;

						span {
							display: inline-block;
							padding-bottom: 10px;
							font-size: 18px;
							font-weight: 500;
						}
					}
				}
			}
		}
		.resumeBox {
			padding-top: 50px;
			> .inner {
				display: flex;
				.rightSection {
					width: 450px;
					margin-right: 20px;
					.rArticle {
						padding: 50px;

						.articleTitle {
							margin-bottom: 20px;
							font-size: 0;
							> h2 {
								font-size: 24px;
								color: #000;
								font-weight: 600;
								letter-spacing: 1px;
								line-height: 1;
								margin-bottom: 10px;
							}
							> span {
								position: relative;
								display: inline-block;
								&::after {
									position: absolute;
									top: 0;
									left: 0;
									width: 50px;
									height: 2px;
									content: '';
									background-color: #777;
								}
							}
						}
						.lists {
							.list {
								.box {
									p {
										padding-top: 5px;
									}
								}
							}
							.list + .list {
								padding-top: 30px;
							}
						}
						&.edu {
							border-radius: 40px 0 0 0;
							background: rgb(255, 238, 213);
							.eduDate {
								font-size: 12px;
								font-weight: 300;
							}
							.school {
								font-size: 20px;
								font-weight: 600;
							}
							.major {
								font-size: 14px;
							}
						}
						&.certificate {
							border-radius: 0 40px 0 0;
							background: rgb(255, 238, 213);
							.certificateDate {
								font-size: 12px;
								font-weight: 300;
							}
							.certificateTitle {
								font-size: 20px;
								font-weight: 600;
							}
							.certificateAgency {
								font-size: 14px;
							}
						}
						&.skill {
							border-radius: 0 40px 0 0;
							background: rgb(255, 238, 213);
							.skillEnv {
								font-size: 14px;
								font-weight: 600;
							}
							.skillTitle {
								font-size: 12px;
								font-size: 300;
							}
							.skillLists {
								display: flex;
								flex-wrap: wrap;
								gap: 10px;
								padding-top: 10px;
								.skillList {
									width: 30px;
									height: 30px;
									
									.skillBox {
										width: 100%;
										height: 100%;
										.skillIcon {
											display: block;
											width: 100%;
											height: 100%;
											background: url('./img/html-icon.svg') no-repeat center;
											background-size: 30px !important;
										}
									}
									&:nth-of-type(2) .skillBox .skillIcon {
										background: url('./img/css3-icon.svg') no-repeat center;
									}
									&:nth-of-type(3) .skillBox .skillIcon {
										background: url('./img/sass-icon.svg') no-repeat center;
									}
									&:nth-of-type(4) .skillBox .skillIcon {
										background: url('./img/javascript-icon.svg') no-repeat center;
									}
									&:nth-of-type(5) .skillBox .skillIcon {
										background: url('./img/typescript-icon.svg') no-repeat center;
									}
									&:nth-of-type(6) .skillBox .skillIcon {
										background: url('./img/vuejs-icon.svg') no-repeat center;
									}
									&:nth-of-type(7) .skillBox .skillIcon {
										background: url('./img/react-icon.svg') no-repeat center;
									}
									&:nth-of-type(8) .skillBox .skillIcon {
										background: url('./img/nuxt-icon.svg') no-repeat center;
									}

									&:nth-of-type(9) .skillBox .skillIcon {
										background: url('./img/nextjs-icon.svg') no-repeat center;
									}

									&:nth-of-type(10) .skillBox .skillIcon {
										background: url('./img/redux-icon.svg') no-repeat center;
									}
									&:nth-of-type(11) .skillBox .skillIcon {
										background: url('./img/tailwindcss-icon.svg') no-repeat center;
									}
									&:nth-of-type(12) .skillBox .skillIcon {
										background: url('./img/bootstrap-icon.svg') no-repeat center;
									}
								}
							}
						}
						&.contact {
							border-radius: 40px 0 0 0;
							background: rgb(255, 238, 213);
							.conTitle {
								font-weight: 600;
							}
							.socialList {
								display: inline-block;
								margin-right: 4px;
								font-size: 14px;
								line-height: 1;
							}
						}
					}
					.rArticle + .rArticle {
						margin-top: 20px;
					}
				}
				.leftSection {
					width: calc(100% - 470px);
					.lArticle {
						width: 100%;
						padding: 50px;
						border-radius: 40px 0;

						.articleTitle {
							font-size: 0;
							margin-bottom: 20px;
							> h2 {
								font-size: 24px;
								color: #000;
								font-weight: 600;
								letter-spacing: 1px;
								line-height: 1;
								margin-bottom: 10px;
							}
							> span {
								position: relative;
								display: inline-block;
								&::after {
									position: absolute;
									top: 0;
									left: 0;
									width: 50px;
									height: 2px;
									content: '';
									background-color: #777;
								}
							}
						}
						&.project {
							background: rgb(255, 238, 213);
							.projectList {
								padding-top: 10px;
							}
							.projectTitle {
								font-weight: 600;
								font-size: 20px;
								margin-bottom: 10px;
							}
							.projectDesc {
								margin-bottom: 20px;
							}
							.projectLink {
								width: 100%;
								display: flex;
								align-items: center;
								justify-content: flex-end;
								.projectSite,
								.projectPDF {
									position: relative;
									a {
										display: block;
										color: #06278b;
									}
									&::after {
										position: absolute;
										left: 0;
										bottom: 0;
										content: '';
										width: 100%;
										height: 1px;
										background-color: #06278b;
									}
								}
								.projectPDF {
									margin-left: 16px;
								}
							}
						}
						&.experience {
							background: rgb(255, 238, 213);
							.exList {
								padding-top: 30px;

								.exbox {
									display: flex;
									.exTitleBox {
										width: 30%;
										.exDate {
											font-size: 12px;
										}
										.exTitle {
											font-size: 18px;
											font-weight: 600;
											margin-bottom: 10px;
										}
									}
									.exDesc {
										width: 70%;
										.exText {
											font-size: 14px;
										}
										.exPlugin {
											margin-bottom: 10px;
										}
										.exProject {
											padding-top: 10px;
											.exProList {
												padding-top: 10px;
												&:first-of-type {
													padding-top: 0;
												}
												.exProTitle {
													font-weight: 600;
													font-size: 14px;
													margin-bottom: 5px;
												}
												.proText {
													font-size: 12px;
												}
												.proWork {
													padding-top: 10px;
												}
											}

											.exWork {
											}
										}
									}
								}
							}
						}
					}
					.lArticle + .lArticle {
						margin-top: 20px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	body {
		padding: 100px 50px;
	}
	.resume {
		> .inner {
			.profile {
				display: flex;
				align-items: flex-end;
				width: 100%;
				height: 400px;
				.profileImg {
					width: 300px;
				}
				.profileDesc {
					width: calc(100% - 350px);
					.profileTop {
						.name {
							font-size: 40px;
						}
						.job {
							font-size: 20px;
						}
					}

					.profileText {
						.profileTit {
							font-size: 18px;
						}
						.profileTxt {
							font-size: 12px;

							span {
								font-size: 16px;
							}
						}
					}
				}
			}
			.resumeBox {
				padding-top: 50px;
				> .inner {
					display: flex;
					.rightSection {
						width: 40%;
						.rArticle {
							.articleTitle {
								> h2 {
									font-size: 20px;
								}
							}
							&.edu {
								.school {
									font-size: 14px;
								}
								.major {
									font-size: 12px;
								}
							}
							&.certificate {
								.certificateTitle {
									font-size: 14px;
								}
								.certificateAgency {
									font-size: 12px;
								}
							}
							&.skill {
								.skillEnv {
									font-size: 14px;
								}
								.skillTitle {
									font-size: 12px;
								}
							}
							&.contact {
								.conTitle {
									font-size: 14px;
								}
							}
						}
					}
					.leftSection {
						width: 60%;
						.lArticle {
							.articleTitle {
								> h2 {
									font-size: 20px;
								}
							}
							&.project {
								.projectTitle {
									font-size: 16px;
								}
								.projectDesc {
									font-size: 12px;
								}
								.projectLink {
									.projectSite,
									.projectPDF {
										a {
											color: #196da6;
											font-size: 12px;
										}
										&::after {
											background-color: #196da6;
										}
									}
								}
							}
							&.experience {
								.exList {
									.exbox {
										flex-direction: column;
										.exTitleBox {
											.exTitle {
												font-size: 16px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 798px) {
	.resume {
		padding: 30px;
		> .inner {
			.profile {
				display: flex;
				align-items: flex-end;
				width: 100%;
				height: 350px;
				.profileImg {
					width: 250px;
					margin-right: 20px;
				}
				.profileDesc {
					width: calc(100% - 270px);
					.profileTop {
						margin-bottom: 20px;
						.name {
							font-size: 20px;
						}
						.job {
							font-size: 14px;
						}
					}

					.profileText {
						.profileTit {
							font-size: 14px;
							margin-bottom: 5;
						}
						.profileTxt {
							margin-top: 5px;
							font-size: 10px;
							span {
								font-size: 12px;
							}
						}
					}
				}
			}
			.resumeBox {
				padding-top: 30px;
				> .inner {
					display: flex;
					.rightSection {
						width: 39%;
						margin-right: 2%;
						.rArticle {
							padding: 30px 20px;
							.articleTitle {
								margin-bottom: 10px;
								> h2 {
									font-size: 16px;
								}
							}
							.lists {
								.list {
									.box {
										p {
											padding-top: 5px;
										}
									}
								}
								.list + .list {
									padding-top: 16px;
								}
							}
							&.edu {
								.school {
									font-size: 14px;
								}
								.major {
									font-size: 12px;
								}
							}
							&.certificate {
								.certificateTitle {
									font-size: 14px;
								}
								.certificateAgency {
									font-size: 12px;
								}
							}
							&.skill {
								.skillEnv {
									font-size: 14px;
								}
								.skillTitle {
									font-size: 12px;
								}
							}
							&.contact {
								.conTitle {
									font-size: 14px;
								}
								.conPhone {
									font-size: 12px;
								}
								.socialList {
									font-size: 12px;
									margin-right: 2px;
								}
							}
						}
						.rArticle + .rArticle {
							margin-top: 10px;
						}
					}
					.leftSection {
						width: 59%;
						.lArticle {
							padding: 30px 20px;
							.articleTitle {
								margin-bottom: 0;
								> h2 {
									font-size: 16px;
								}
							}
							&.project {
								.projectTitle {
									font-size: 14px;
								}
								.projectDesc {
									font-size: 12px;
								}
								.projectLink {
									.projectSite,
									.projectPDF {
										a {
											color: #196da6;
											font-size: 10px;
										}
										&::after {
											background-color: #196da6;
										}
									}
								}
							}
							&.experience {
								.exList {
									padding-top: 20px;
									.exbox {
										flex-direction: column;
										.exTitleBox {
											width: 100%;
											.exTitle {
												font-size: 16px;
											}
										}
										.exDesc {
											width: 100%;
											.exText {
												font-size: 12px;
											}
										}
									}
								}
							}
						}
						.lArticle + .lArticle {
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 576px) {
	body {
		padding: 80px 30px;
	}
	.resume {
		padding: 50px;
		> .inner {
			.profile {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				height: 100%;
				.profileImg {
					width: 300px;
					margin-right: 0;
				}
				.profileDesc {
					width: 100%;
					margin-top: 20px;
					.profileTop {
						margin-bottom: 20px;
						.name {
							font-size: 20px;
						}
						.job {
							font-size: 14px;
						}
					}

					.profileText {
						width: 100%;
						.profileTit {
							font-size: 14px;
							margin-bottom: 5;
						}
						.profileTxt {
							margin-top: 5px;
							font-size: 10px;
							span {
								font-size: 12px;
							}
						}
					}
				}
			}
			.resumeBox {
				> .inner {
					flex-direction: column;
					.rightSection {
						width: 100%;
						margin-right: 0;
						margin-bottom: 20px;
						.rArticle {
							padding: 30px 20px;
							.articleTitle {
								margin-bottom: 10px;
								> h2 {
									font-size: 16px;
								}
							}
							.lists {
								.list {
									.box {
										p {
											padding-top: 5px;
										}
									}
								}
								.list + .list {
									padding-top: 16px;
								}
							}
							&.edu {
								.school {
									font-size: 14px;
								}
								.major {
									font-size: 12px;
								}
							}
							&.certificate {
								.certificateTitle {
									font-size: 14px;
								}
								.certificateAgency {
									font-size: 12px;
								}
							}
							&.skill {
								.skillEnv {
									font-size: 14px;
								}
								.skillTitle {
									font-size: 12px;
								}
							}
							&.contact {
								.conTitle {
									font-size: 14px;
								}
								.conPhone {
									font-size: 12px;
								}
								.socialList {
									font-size: 12px;
									margin-right: 2px;
								}
							}
						}
						.rArticle + .rArticle {
							margin-top: 20px;
						}
					}
					.leftSection {
						width: 100%;
						.lArticle {
							padding: 30px 20px;
							.articleTitle {
								margin-bottom: 0;
								> h2 {
									font-size: 16px;
								}
							}
							&.project {
								.projectTitle {
									font-size: 14px;
								}
								.projectDesc {
									font-size: 12px;
								}
								.projectLink {
									.projectSite,
									.projectPDF {
										a {
											color: #196da6;
											font-size: 10px;
										}
										&::after {
											background-color: #196da6;
										}
									}
								}
							}
							&.experience {
								.exList {
									padding-top: 20px;
									.exbox {
										flex-direction: column;
										.exTitleBox {
											width: 100%;
											.exTitle {
												font-size: 16px;
											}
										}
										.exDesc {
											width: 100%;
											.exText {
												font-size: 12px;
											}
										}
									}
								}
							}
						}
						.lArticle + .lArticle {
							margin-top: 20px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 425px) {
	.resume {
		padding: 30px 20px;
		> .inner {
			.profile {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				height: 100%;
				.profileImg {
					width: 220px;
					margin-right: 0;
				}
				.profileDesc {
					width: 100%;
					margin-top: 20px;
					.profileTop {
						margin-bottom: 20px;
						.name {
							font-size: 20px;
						}
						.job {
							font-size: 14px;
						}
					}

					.profileText {
						width: 100%;
						.profileTit {
							font-size: 14px;
							margin-bottom: 5;
						}
						.profileTxt {
							margin-top: 5px;
							font-size: 10px;
							span {
								font-size: 12px;
							}
						}
					}
				}
			}
			.resumeBox {
				> .inner {
					flex-direction: column;
					.rightSection {
						width: 100%;
						margin-right: 0;
						margin-bottom: 20px;
						.rArticle {
							padding: 30px 20px;
							.articleTitle {
								margin-bottom: 10px;
								> h2 {
									font-size: 16px;
								}
							}
							.lists {
								.list {
									.box {
										p {
											padding-top: 5px;
										}
									}
								}
								.list + .list {
									padding-top: 16px;
								}
							}
							&.edu {
								.school {
									font-size: 14px;
								}
								.major {
									font-size: 12px;
								}
							}
							&.certificate {
								.certificateTitle {
									font-size: 14px;
								}
								.certificateAgency {
									font-size: 12px;
								}
							}
							&.skill {
								.skillEnv {
									font-size: 14px;
								}
								.skillTitle {
									font-size: 12px;
								}
							}
							&.contact {
								.conTitle {
									font-size: 14px;
								}
								.conPhone {
									font-size: 12px;
								}
								.socialList {
									font-size: 12px;
									margin-right: 2px;
								}
							}
						}
						.rArticle + .rArticle {
							margin-top: 20px;
						}
					}
					.leftSection {
						width: 100%;
						.lArticle {
							padding: 30px 20px;
							.articleTitle {
								margin-bottom: 0;
								> h2 {
									font-size: 16px;
								}
							}
							&.project {
								.projectTitle {
									font-size: 14px;
								}
								.projectDesc {
									font-size: 12px;
								}
								.projectLink {
									.projectSite,
									.projectPDF {
										a {
											color: #196da6;
											font-size: 10px;
										}
										&::after {
											background-color: #196da6;
										}
									}
								}
							}
							&.experience {
								.exList {
									padding-top: 20px;
									.exbox {
										flex-direction: column;
										.exTitleBox {
											width: 100%;
											.exTitle {
												font-size: 16px;
											}
										}
										.exDesc {
											width: 100%;
											.exText {
												font-size: 12px;
											}
										}
									}
								}
							}
						}
						.lArticle + .lArticle {
							margin-top: 20px;
						}
					}
				}
			}
		}
	}
}
